/* RXLib v1.1.10 */

body {
    background-color: var(--rxlib-telas) !important;
}

.rxlib-logo {
    width: 200px !important;
    height: 200px !important;
}

.rxlib-logo-retangulo {
    width: 15rem !important;
    height: 6rem !important;
}

.rxlib-login {
    width: 400px !important;
    padding: 20px !important;
    border-radius: 10px !important;
    border: 1px solid var(--rxlib-borda) !important;
    background-color: var(--rxlib-telas) !important;
}

.rxlib-login-retangulo {
    width: 400px !important;
    padding: 30px !important;
    border-radius: 10px !important;
    border: 1px solid var(--rxlib-borda) !important;
    background-color: var(--rxlib-telas) !important;
}

.rxlib-nome {
    font-size: 2rem !important;
    font-weight: bold !important;
    color: var(--rxlib-sistema) !important;
}

.rxlib-conteiner-logo {
    vertical-align: bottom !important;
}

.rxlib-homologacao {
    color: #FF0000 !important;
}

.rxlib-form {
    height: 80vh !important;
    overflow: auto !important;
    padding-bottom: 50px !important;
}

.rxlib-table-overflow {
    overflow-x: auto !important;
    white-space: nowrap !important;
}

.rxlib-celula-botao {
    align-self: flex-end !important;
}

.rxlib-list-group-item {
    background-color: var(--rxlib-telas) !important;
}

/* rxlib-navbar */

.rxlib-navbar-top {
    background-color: var(--rxlib-navbar) !important;
    border-bottom: 1px solid var(--rxlib-borda) !important;
}

.rxlib-navbar-nav {
    width: 31rem !important;
}

.rxlib-navbar-collapse {
    width: 90% !important;
}

.rxlib-navbar-brand {
    padding-top: 0rem !important;
}

.rxlib-logo-navbar {
    width: 2rem !important;
}

.rxlib-nome-navbar {
    font-weight: bold !important;
    margin-left: 1rem !important;
    color: var(--rxlib-principal) !important;
}

.rxlib-navbar-brand span {
    vertical-align: middle !important;
}

.rxlib-navbar-toggler-icon {
    color: var(--rxlib-principal) !important;
}

.rxlib-navbar-footer {
    background-color: var(--rxlib-navbar) !important;
    border-top: 1px solid var(--rxlib-borda) !important;
}

.rxlib-developer-by {
    width: 100% !important;
    font-size: 0.9rem !important;
    color: var(--rxlib-navbar-fonte) !important;
}

/* rxlib-sidebar */

.rxlib-sidebar {
    width: 17rem !important;
    height: 100vh !important;
}

.rxlib-navbar-sidebar-top {
    left: inherit !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.rxlib-navbar-sidebar-top-open {
    left: inherit !important;
}

.rxlib-navbar-sidebar-footer {
    left: inherit !important;
}

.rxlib-sidebar-header {
    display: flex !important;
    padding-top: .5rem !important;
    align-items: center !important;
    padding-bottom: .5rem !important;
    background-color: var(--rxlib-navbar) !important;
}

.rxlib-sidebar-header span {
    color: #FFFFFF !important;
    font-size: 1.5rem !important;
    margin-right: 1rem !important;
    line-height: 2.3rem !important;
}

.rxlib-sidebar-body {
    background-color: var(--rxlib-navbar) !important;
}

.rxlib-sidebar-body-gradient {
    background-image: linear-gradient(0deg, var(--rxlib-navbar-gradient) 0%, var(--rxlib-navbar) 100%) !important;
}

.rxlib-sidebar-logo-navbar {
    width: 2.5rem !important;
    margin-right: 1rem !important;
}

.rxlib-sidebar-logo {
    width: 2.5rem !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.rxlib-sidebar-accordion-button {
    color: #000000 !important;
    background-color: var(--rxlib-navbar-active) !important;
}

.rxlib-sidebar-accordion-button:focus {
    box-shadow: none !important;
    border-color: var(--rxlib-navbar-active) !important;
}

.rxlib-sidebar-accordion-button:not(.collapsed) {
    color: #000000 !important;
    background-color: var(--rxlib-navbar-active) !important;
}

.rxlib-sidebar-accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    transform: rotate(180deg) !important;
}

.rxlib-sidebar-accordion-body {
    padding: 0rem !important;
}

.rxlib-sidebar-accordion-body ul li {
    padding: 0rem !important;
    background-color: transparent !important;
}

.rxlib-sidebar-accordion-body ul li a {
    padding: 0.5rem 1rem !important;
}

/* rxlib-select-label-async */

.rxlib-select {
    padding: 0px !important;
}

.rxlib-spinner-select {
    width: 20px !important;
    height: 20px !important;
    margin-right: 8px !important;
    border-width: .15em !important;
}

.rxlib-select-label-async-input {
    width: 95% !important;
    height: 0px !important;
    margin-bottom: 0.1rem !important;
}

.rxlib-select-label-async-input input {
    height: 0px !important;
    border: none !important;
    padding: 0.5px !important;
    color: #FFFFFF !important;
    margin-left: 0.5rem !important;
    margin-top: -0.1rem !important;
}

.rxlib-select-label-async-input input:focus {
    border: none !important;
    box-shadow: none !important;
}

.rxlib-select-label-async {
    width: 50% !important;
}

.rxlib-select-label-async-coluna {
    width: 100% !important;
}

.rxlib-select-label-async-coluna .rxlib-select-label-async-input input {
    color: #FFFFFF !important;
}

.rxlib-select-label-async-group {
    width: 100% !important;
}

.rxlib-select__control {
    height: 2.25rem !important;
    border-style: none !important;
    min-height: 2.25rem !important;
}

.rxlib-select__control--is-focused {
    border-color: var(--rxlib-principal) !important;
    box-shadow: 0 0 0 1.5px var(--rxlib-principal) !important;
}

.rxlib-select__control:hover {
    border-color: var(--rxlib-principal) !important;
}

.rxlib-select__control--is-disabled {
    background-color: #E9ECEF !important;
}

.rxlib-select__single-value--is-disabled {
    color: #000000 !important;
}

/* rxlib-btn-popover */

.rxlib-btn-popover {
    width: 100% !important;
    color: var(--rxlib-fonte) !important;
    border-color: var(--rxlib-principal) !important;
    background-color: var(--rxlib-principal) !important;
}

.rxlib-btn-popover:hover {
    color: var(--rxlib-fonte) !important;
    border-color: var(--rxlib-principal) !important;
    background-color: var(--rxlib-principal) !important;
}

.rxlib-btn-popover:focus {
    color: var(--rxlib-fonte) !important;
    border-color: var(--rxlib-principal) !important;
    background-color: var(--rxlib-principal) !important;
}

.btn-check:active+.rxlib-btn-popover:focus, .btn-check:checked+.rxlib-btn-popover:focus, .rxlib-btn-popover.active:focus, .rxlib-btn-popover:active:focus, .show>.rxlib-btn-popover.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.05rem var(--rxlib-principal-rgb-50) !important;
}

/* rxlib-exclusao */

.rxlib-exclusao-button {
    width: 15% !important;
    margin-right: 1rem !important;
}

.modal-content .rxlib-exclusao-button {
    width: 30% !important;
    margin-right: 1rem !important;
}

.rxlib-exclusao-button-com-spinner {
    width: 33% !important;
    margin-right: 1rem !important;
}

.rxlib-exclusao {
    margin-left: auto !important;
}

.rxlib-exclusao-com-spinner {
    margin-left: auto !important;
    margin-right: auto !important;
}

.rxlib-cancelar-button {
    width: 15% !important;
}

.modal-content .rxlib-cancelar-button {
    width: 30% !important;
}

.rxlib-cancelar {
    margin-right: auto !important;
}

/* rxlib-input-label */

.rxlib-input-label {
    width: 50% !important;
}

.rxlib-input-label-coluna {
    width: 100% !important;
}

/* rxlib-listagem-detalhe */

.rxlib-listagem-detalhe {
    width: 50% !important;
    margin-bottom: 0rem !important;
}

.rxlib-listagem-detalhe-coluna {
    width: 100% !important;
}

/* rxlib-modal-primary */

.rxlib-modal-primary-header {
    border-bottom: 0rem !important;
    padding: 0.3rem 0.8rem !important;
}

.rxlib-modal-primary-body {
    padding: 0.3rem 0.8rem 0.7rem !important;
}

.rxlib-modal-primary-alert {
    border: 0rem !important;
    font-weight: 400 !important;
    margin-bottom: 0rem !important;
}

.rxlib-modal-primary-header .btn-close {
    padding: 0.9rem 0.7rem !important;
}

.rxlib-modal-primary-alert .modal-content {
    color: #084298 !important;
    border-color: #b6d4fe !important;
    background-color: #cfe2ff !important;
}

/* rxlib-modal-warning */

.rxlib-modal-warning-header {
    border-bottom: 0rem !important;
    padding: 0.3rem 0.8rem !important;
}

.rxlib-modal-warning-body {
    padding: 0.3rem 0.8rem 0.7rem !important;
}

.rxlib-modal-warning-alert {
    border: 0rem !important;
    font-weight: 400 !important;
    margin-bottom: 0rem !important;
}

.rxlib-modal-warning-header .btn-close {
    padding: 0.9rem 0.7rem !important;
}

.rxlib-modal-warning-alert .modal-content {
    color: #664d03 !important;
    border-color: #ffecb5 !important;
    background-color: #fff3cd !important;
}

/* rxlib-select-label */

.rxlib-select-label {
    width: 50% !important;
}

.rxlib-select-label-coluna {
    width: 100% !important;
}

/* rxlib-table */

.rxlib-coluna-acoes {
    width: 8rem !important;
}

.rxlib-coluna-acoes-detalhe {
    width: 20% !important;
}

.rxlib-coluna-acoes-personalizadas-1 {
    width: 10rem !important;
}

.rxlib-coluna-acoes-personalizadas-2 {
    width: 12rem !important;
}

.rxlib-coluna-acoes-personalizadas-3 {
    width: 14rem !important;
}

.rxlib-coluna-acoes-personalizadas-detalhe-1 {
    width: 25% !important;
}

.rxlib-coluna-acoes-personalizadas-detalhe-2 {
    width: 26% !important;
}

.rxlib-coluna-acoes-personalizadas-detalhe-3 {
    width: 27% !important;
}

.rxlib-btn-link-table {
    border: none !important;
    margin: 0rem !important;
    padding: 0rem !important;
    vertical-align: bottom !important;
    color: var(--rxlib-link) !important;
}

.rxlib-btn-link-table:hover {
    color: var(--rxlib-link) !important;
}

.rxlib-btn-link-table:focus {
    box-shadow: none !important;
    color: var(--rxlib-link) !important;
}

.rxlib-btn-csv-table {
    width: 10rem !important;
    margin-left: -0.7rem !important;
}

/* rxlib-textarea-label */

.rxlib-textarea-label {
    width: 50% !important;
}

.rxlib-textarea-label-coluna {
    width: 100% !important;
}

/* rxlib-tree-permissoes */

.rxlib-checkbox-permissao {
    opacity: unset !important;
    will-change: transform, height !important;
}

/* rxlib-btn-order-table */

.rxlib-btn-order-table {
    border: none !important;
    margin: 0rem !important;
    padding: 0rem !important;
    margin-left: 0.3rem !important;
    color: var(--rxlib-link) !important;
}

.rxlib-btn-order-table:hover {
    box-shadow: none !important;
    color: var(--rxlib-link) !important;
}

.rxlib-btn-order-table:focus {
    box-shadow: none !important;
    color: var(--rxlib-link) !important;
}

.rxlib-btn-order-table .active {
    color: #FF0000 !important;
}

/* rxlib-card */

.rxlib-card {
    width: 25rem !important;
    height: 10rem !important;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
}

.rxlib-card-title {
    font-size: 1.5rem !important;
}

.rxlib-card-text {
    display: flex !important;
}

.rxlib-card-text-muted {
    width: 24rem !important;
    font-weight: 500 !important;
    vertical-align: super !important;
}

.rxlib-card-icon {
    font-size: 5rem !important;
    margin-left: 1rem !important;
    color: var(--rxlib-principal) !important;
}

.rxlib-card-icon-disabled {
    color: #CCCCCC !important;
}

/* form-control */

.form-control:active {
    outline: 0 !important;
    border-color: var(--rxlib-principal-rgb-70) !important;
    box-shadow: 0 0 0 0.05rem var(--rxlib-principal-rgb-70) !important;
}

.form-control:hover {
    outline: 0 !important;
    border-color: var(--rxlib-principal-rgb-70) !important;
    box-shadow: 0 0 0 0.05rem var(--rxlib-principal-rgb-70) !important;
}

.form-control:focus {
    outline: 0 !important;
    border-color: var(--rxlib-principal-rgb-70) !important;
    box-shadow: 0 0 0 0.05rem var(--rxlib-principal-rgb-70) !important;
}

/* form-select */

.form-select:active {
    outline: 0 !important;
    border-color: var(--rxlib-principal-rgb-70) !important;
    box-shadow: 0 0 0 0.05rem var(--rxlib-principal-rgb-70) !important;
}

.form-select:hover {
    outline: 0 !important;
    border-color: var(--rxlib-principal-rgb-70) !important;
    box-shadow: 0 0 0 0.05rem var(--rxlib-principal-rgb-70) !important;
}

.form-select:focus {
    outline: 0 !important;
    border-color: var(--rxlib-principal-rgb-70) !important;
    box-shadow: 0 0 0 0.05rem var(--rxlib-principal-rgb-70) !important;
}

/* form-check-input */

.form-check-input[type=checkbox]:active {
    outline: 0 !important;
    border-color: var(--rxlib-principal-rgb-70) !important;
    box-shadow: 0 0 0 0.05rem var(--rxlib-principal-rgb-70) !important;
}

.form-check-input[type=checkbox]:hover {
    outline: 0 !important;
    border-color: var(--rxlib-principal-rgb-70) !important;
    box-shadow: 0 0 0 0.05rem var(--rxlib-principal-rgb-70) !important;
}

.form-check-input[type=checkbox]:focus {
    outline: 0 !important;
    border-color: var(--rxlib-principal-rgb-70) !important;
    box-shadow: 0 0 0 0.05rem var(--rxlib-principal-rgb-70) !important;
}

.form-check-input:checked {
    border-color: var(--rxlib-principal) !important;
    background-color: var(--rxlib-principal) !important;
}

/* popover */

.popover-header {
    color: var(--rxlib-fonte) !important;
    background-color: var(--rxlib-principal) !important;
}

.bs-popover-auto[x-placement^=bottom]>.arrow, .bs-popover-bottom>.arrow {
    top: calc(-.5rem - 1px) !important;
}

.popover .arrow {
    width: 1rem !important;
    height: .5rem !important;
    margin: 0 .3rem !important;
}

.bs-popover-auto[data-popper-placement^=bottom] .popover-header::before, .bs-popover-bottom .popover-header::before {
    display: none !important;
}

/* list-group-item */

.list-group-item {
    border: none !important;
}

/* btn-close */

.btn-close:focus {
    box-shadow: none !important;
}

/* btn-check */

.btn-check:focus+.btn, .btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

/* treeview */

.treeview>.toggle {
    cursor: pointer !important;
    pointer-events: all !important;
    fill: var(--rxlib-principal) !important;
    color: var(--rxlib-principal) !important;
}

.treeview>.toggle:hover {
    fill: var(--rxlib-principal) !important;
    color: var(--rxlib-principal) !important;
}

/* dropdown */

.dropdown-menu {
    background-color: var(--rxlib-menu) !important;
}

.dropdown-item {
    color: var(--rxlib-navbar-fonte) !important;
}

.dropdown-item.active, .dropdown-item:active {
    text-decoration: none !important;
    color: var(--rxlib-fonte) !important;
    background-color: var(--rxlib-principal) !important;
}

.dropdown-item.focus, .dropdown-item:hover {
    text-decoration: none !important;
    color: var(--rxlib-fonte) !important;
    background-color: var(--rxlib-principal) !important;
}

/* navbar */

.navbar-dark .navbar-nav .nav-link {
    color: var(--rxlib-navbar-fonte) !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--rxlib-navbar-fonte) !important;
}

.navbar-dark .navbar-toggler {
    border: none !important;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--rxlib-navbar-fonte) !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--rxlib-navbar-fonte) !important;
}

.navbar-light .navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    outline: 0 !important;
    box-shadow: none !important;
    text-decoration: none !important;
}

/* page-link */

.page-link {
    color: var(--rxlib-link) !important;
}

.page-link:hover {
    color: var(--rxlib-link) !important;
}

.page-link:focus {
    box-shadow: none !important;
}

.page-item.active .page-link {
    border-color: var(--rxlib-principal) !important;
    background-color: var(--rxlib-principal) !important;
}

/* table-striped */

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: var(--rxlib-tabela-listrado-rgb-25) !important;
}

/* react-tabs */

.react-tabs__tab--selected {
    background-color: var(--rxlib-telas) !important;
}

/* modal */

.modal-content {
    background-color: var(--rxlib-telas) !important;
}

/* vertical-timeline */

.vertical-timeline:before {
    background: #DDDDDD !important;
}

.vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px #DDDDDD, inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%) !important;
}

.vertical-timeline-element-title i {
    color: var(--rxlib-principal) !important;
    margin-left: 1rem !important;
}

.vertical-timeline-modal-informacoes {
    width: 50rem !important;
    max-width: none !important;
}

.vertical-timeline-modal-informacoes .modal-content {
    height: 22.3rem !important;
}

.vertical-timeline-modal-informacoes-body {
    padding: 1rem 0rem 1rem 0rem !important;
}

.vertical-timeline-modal-informacoes-btn-close-cell {
    text-align: right !important;
    align-self: flex-end !important;
}

.vertical-timeline-button-informacoes {
    border: 0rem !important;
    padding: 0rem !important;
    font-size: 1.5rem !important;
    line-height: 0rem !important;
}

/* button-link */

.btn-link-select {
    width: 2.8rem !important;
    height: 2.4rem !important;
    padding-top: 0.35rem !important;
    padding-left: 0.60rem !important;
}

.col-btn-link {
    display: flex !important;
    align-items: flex-end !important;
}

.col-btn-link a {
    margin-left: 0.5rem !important;
}

/* rxlib-select-perfil */

.rxlib-select-perfil {
    width: 50% !important;
}

/* rxlib-modal-exclusao */

.rxlib-modal-exclusao {
    max-width: max-content !important;
}

.rxlib-modal-exclusao-body {
    padding: 1rem 0rem 1rem 0rem !important;
}